* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 12pt;
}

.page {
    background-color: hsl(60,60%,80%);
}

.title {
    font-size: 2.5rem;
    padding: 10px 0;
    text-align: center;
}

.author {
    font-size: 0.9rem;
    padding-bottom: 10px;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.pad {
    border: 3px double black;
    display: grid;
    margin: auto 0;
    touch-action: none;
}

.square {
    background-color: white;
    pointer-events: none;
}

.controls {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.sqnum, .button {
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    margin: 2px 5px;
    outline: 1px solid black;
    padding: 5px;
    width: 76px;
}

.sqnum {
    text-align: center;
}

.sqnum:invalid {
    color: red;
    outline: 2px solid red;
}

.button--help {
    border-radius: 50%;
    bottom: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    height: 30px;
    position: absolute;
    right: 5px;
    width: 30px;
}

.button--on {
    background-color: black;
    color: hsl(60,60%,80%);
}

.message {
    background-color: white;
    color: red;
    font-weight: bold;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.help {
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: default;
    display: none;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    z-index: 2;
}

.help-title {
    font-weight: bold;
    text-align: center;
}

.help-p {
    margin-top: 10px;
}