* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 12pt;
}

.page {
    background-color: hsl(60,60%,80%);
}

.header {
    border-bottom: 2px solid black;
}

.title {
    font-size: 3rem;
    padding: 10px 0;
    text-align: center;
}

.author {
    font-size: 0.9rem;
    padding-bottom: 10px;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-around;
}

.pad {
    border: 3px double black;
    display: grid;
    margin: 10px 0;
}

.square {
    background-color: white;
}

.controls {
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-between;
    margin: auto 0;
}

.sqnum, .button {
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    outline: 1px solid black;
    padding: 5px;
}

.sqnum:invalid {
    color: red;
    outline: 2px solid red;
}

.message {
    color: red;
    font-size: 0.9rem;
}